/* =====================
Layout
===================== */
%vh {
    @include visuallyhidden();
}

%clearfix { @include clearfix(); }

%container {
    @extend %clearfix;
    margin: auto;
    max-width: $bpLgDesktop;
    position: relative;
    width: 100%;
    padding: 0 20px;
}

%container-lg {
	@extend %container;
	max-width: $bpXLgDesktop;
}

%list-unstyled {
	@include normalise-list;
}

.container {
	@extend %container;
}

.container-lg {
	@extend %container-lg;
}

.vh, .sr-only {
    @extend %vh;
}

.fr {
	float: right;
}

.fl {
	float: left;
}

.inblock {
	display: inline-block;
	vertical-align: top;
	width: auto;
}

.img-responsive {
    display: block;
    height: auto;
    margin: auto;
    max-width: 100%;
    width: 100%;
}

.table-responsive {
	width: 100%;
	overflow-x: auto;
}

.hide {
	display: none;
}

$max: 30;
$step: 5;

@for $i from 1 through ceil($max/$step) {
	$value: ($i - 1) * $step;
	
	.mtop_#{$value} { 
		margin-top: #{$value}px;
	}

	.mbot_#{$value} { 
		margin-bottom: #{$value}px;
	}

	.mleft_#{$value} { 
		margin-left: #{$value}px;
	}

	.mright_#{$value} { 
		margin-right: #{$value}px;
	}

	.ptop_#{$value} { 
		padding-top: #{$value}px;
	}

	.pbot_#{$value} { 
		padding-bottom: #{$value}px;
	}

	.pleft_#{$value} { 
		padding-left: #{$value}px;
	}

	.pright_#{$value} { 
		padding-right: #{$value}px;
	}
}

[class^="col-"], [class*=" col-"] {
	padding: 0 10px;
}

@media only screen and (max-width: $bpTablet - 1) {
	.no-mobile {
		display: none;
	}
}

@media only screen and (min-width: $bpTablet) {
	.mobile-only {
		display: none;
	}
}

@media only screen and (min-width: $bpDesktop) {
	.desktop-only {
		display: block;
	}

	.no-desktop {
		display: none;
	}
}
