/* Breakpoints */
$bpMobile: 320px;
$bpTablet: 768px;
$bpDesktop: 1024px;
$bpLgDesktop: 1280px;
$bpXLgDesktop: 1366px;

/* Font */
$base-fontsize: 16px;

// Body
$body-bg: #f8fafc;

// Typography
$headerFont: "Montserrat", sans-serif;
$bodyFont: "Avenir", serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$black: #000;
$white: #fff;
$gray1: #535769;
$gray2: #ddd;
$gray3: #eee;
$blue: #18388A;
$red: #D45050;
$lightred: #fcd8d8;
$green: #008d00;
$lightgreen: #dfffdf;

/* Border Radius */
$border-radius1: 3px;
$border-radius2: 5px;