
// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


// Bootstrap
@import '~bootstrap/scss/bootstrap-grid.scss';

// Variables
@import 'fonts';
@import 'variables';
@import 'mixins';
@import 'helpers';
@import 'form';

$icomoon-font-path: '../icons/fonts';
@import '../icons/variables';
@import '../icons/style.scss';

body {
	background: #fff;
	font-family: $bodyFont;
	font-size: $base-fontsize;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $headerFont;
}

a {
	text-decoration: none;
}

#app {
	position: relative;
}

.right-pane {
	width: calc(100% - 250px);
	margin-left: 250px;
	padding-left: 20px;
	display: inline-block;
	vertical-align: top;

	.row {
		margin-left: 0;
		margin-right: 0;
	}
}

.cf:before,
.cf:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.cf:after {
	clear: both;
}

.back {
	padding: 10px 0 20px;
	border-bottom: 1px solid $gray2;
	margin-bottom: 20px;

	a {
		color: $gray1;

		i {
			margin-right: 5px;
		}
	}
}

@import 'vuejs-dialog';
@import 'node_modules/vue-select/src/scss/vue-select';
@import 'components/elements/button-component';
@import 'components/projects/projects';
@import 'components/elements/header';
@import 'components/elements/sidenav';
@import 'components/auth/login';
@import 'components/titles/title-list';
@import 'components/users/user-form';