
// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

// Variables
@import 'fonts';
@import 'variables';
@import 'mixins';
@import 'helpers';
@import 'form';

$icomoon-font-path: '../icons/fonts';
@import '../icons/variables';
@import '../icons/style.scss';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

body {
  background: #fff;
  font-family: $bodyFont;
  font-size: $base-fontsize;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headerFont;
}

a {
  text-decoration: none;
}

#app {
  position: relative;
}

@import 'components/elements/button-component';
@import 'components/projects/projects';
@import 'components/elements/header';
@import 'components/elements/sidenav';
@import 'components/auth/login';
@import 'components/titles/title-list';