@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);@charset "UTF-8";

@font-face {
  font-family: "Avenir";
  src: url("/fonts/Avenir-Roman.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* Breakpoints */

/* Font */

/* Border Radius */

/* =====================
Layout
===================== */

.vh,
.sr-only {
  border: 0;
  height: 0;
  width: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: absolute;
  background: none;
  text-indent: 999px;
}

.row,
.container,
.container-lg {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}

.row:before,
.container:before,
.container-lg:before,
.row:after,
.container:after,
.container-lg:after {
  content: "";
  display: table;
}

.row:after,
.container:after,
.container-lg:after {
  clear: both;
}

.container,
.container-lg {
  margin: auto;
  max-width: 1280px;
  position: relative;
  width: 100%;
  padding: 0 20px;
}

.container-lg {
  max-width: 1366px;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.img-responsive {
  display: block;
  height: auto;
  margin: auto;
  max-width: 100%;
  width: 100%;
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
}

.hide {
  display: none;
}

.row {
  margin: 0 -10px;
}

.reverse-col [class^=col-],
.reverse-col [class*=" col-"] {
  float: right;
}

[class^=col-],
[class*=" col-"] {
  float: left;
  width: 100%;
  padding: 0 10px;
}

[class^=col-offset-],
[class*=" col-offset-"] {
  margin: auto;
}

.desktop-only {
  display: none;
}

.col-xs-1 {
  width: 8.3333333333%;
}

.col-offset-xs-1 {
  margin-left: 8.3333333333%;
}

.col-xs-2 {
  width: 16.6666666667%;
}

.col-offset-xs-2 {
  margin-left: 16.6666666667%;
}

.col-xs-3 {
  width: 25%;
}

.col-offset-xs-3 {
  margin-left: 25%;
}

.col-xs-4 {
  width: 33.3333333333%;
}

.col-offset-xs-4 {
  margin-left: 33.3333333333%;
}

.col-xs-5 {
  width: 41.6666666667%;
}

.col-offset-xs-5 {
  margin-left: 41.6666666667%;
}

.col-xs-6 {
  width: 50%;
}

.col-offset-xs-6 {
  margin-left: 50%;
}

.col-xs-7 {
  width: 58.3333333333%;
}

.col-offset-xs-7 {
  margin-left: 58.3333333333%;
}

.col-xs-8 {
  width: 66.6666666667%;
}

.col-offset-xs-8 {
  margin-left: 66.6666666667%;
}

.col-xs-9 {
  width: 75%;
}

.col-offset-xs-9 {
  margin-left: 75%;
}

.col-xs-10 {
  width: 83.3333333333%;
}

.col-offset-xs-10 {
  margin-left: 83.3333333333%;
}

.col-xs-11 {
  width: 91.6666666667%;
}

.col-offset-xs-11 {
  margin-left: 91.6666666667%;
}

.col-xs-12 {
  width: 100%;
}

.col-offset-xs-12 {
  margin-left: 100%;
}

@media only screen and (max-width: 767px) {
  .no-mobile {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .col-sm-1 {
    width: 8.3333333333%;
  }

  .col-offset-sm-1 {
    margin-left: 8.3333333333%;
  }

  .col-sm-2 {
    width: 16.6666666667%;
  }

  .col-offset-sm-2 {
    margin-left: 16.6666666667%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-offset-sm-3 {
    margin-left: 25%;
  }

  .col-sm-4 {
    width: 33.3333333333%;
  }

  .col-offset-sm-4 {
    margin-left: 33.3333333333%;
  }

  .col-sm-5 {
    width: 41.6666666667%;
  }

  .col-offset-sm-5 {
    margin-left: 41.6666666667%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-offset-sm-6 {
    margin-left: 50%;
  }

  .col-sm-7 {
    width: 58.3333333333%;
  }

  .col-offset-sm-7 {
    margin-left: 58.3333333333%;
  }

  .col-sm-8 {
    width: 66.6666666667%;
  }

  .col-offset-sm-8 {
    margin-left: 66.6666666667%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-offset-sm-9 {
    margin-left: 75%;
  }

  .col-sm-10 {
    width: 83.3333333333%;
  }

  .col-offset-sm-10 {
    margin-left: 83.3333333333%;
  }

  .col-sm-11 {
    width: 91.6666666667%;
  }

  .col-offset-sm-11 {
    margin-left: 91.6666666667%;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-offset-sm-12 {
    margin-left: 100%;
  }

  .mobile-only {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .col-md-1 {
    width: 8.3333333333%;
  }

  .col-offset-md-1 {
    margin-left: 8.3333333333%;
  }

  .col-md-2 {
    width: 16.6666666667%;
  }

  .col-offset-md-2 {
    margin-left: 16.6666666667%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-offset-md-3 {
    margin-left: 25%;
  }

  .col-md-4 {
    width: 33.3333333333%;
  }

  .col-offset-md-4 {
    margin-left: 33.3333333333%;
  }

  .col-md-5 {
    width: 41.6666666667%;
  }

  .col-offset-md-5 {
    margin-left: 41.6666666667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-offset-md-6 {
    margin-left: 50%;
  }

  .col-md-7 {
    width: 58.3333333333%;
  }

  .col-offset-md-7 {
    margin-left: 58.3333333333%;
  }

  .col-md-8 {
    width: 66.6666666667%;
  }

  .col-offset-md-8 {
    margin-left: 66.6666666667%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-offset-md-9 {
    margin-left: 75%;
  }

  .col-md-10 {
    width: 83.3333333333%;
  }

  .col-offset-md-10 {
    margin-left: 83.3333333333%;
  }

  .col-md-11 {
    width: 91.6666666667%;
  }

  .col-offset-md-11 {
    margin-left: 91.6666666667%;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-offset-md-12 {
    margin-left: 100%;
  }

  .desktop-only {
    display: block;
  }

  .no-desktop {
    display: none;
  }
}

@media only screen and (min-width: 1280px) {
  .col-lg-1 {
    width: 8.3333333333%;
  }

  .col-offset-lg-1 {
    margin-left: 8.3333333333%;
  }

  .col-lg-2 {
    width: 16.6666666667%;
  }

  .col-offset-lg-2 {
    margin-left: 16.6666666667%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-offset-lg-3 {
    margin-left: 25%;
  }

  .col-lg-4 {
    width: 33.3333333333%;
  }

  .col-offset-lg-4 {
    margin-left: 33.3333333333%;
  }

  .col-lg-5 {
    width: 41.6666666667%;
  }

  .col-offset-lg-5 {
    margin-left: 41.6666666667%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-offset-lg-6 {
    margin-left: 50%;
  }

  .col-lg-7 {
    width: 58.3333333333%;
  }

  .col-offset-lg-7 {
    margin-left: 58.3333333333%;
  }

  .col-lg-8 {
    width: 66.6666666667%;
  }

  .col-offset-lg-8 {
    margin-left: 66.6666666667%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-offset-lg-9 {
    margin-left: 75%;
  }

  .col-lg-10 {
    width: 83.3333333333%;
  }

  .col-offset-lg-10 {
    margin-left: 83.3333333333%;
  }

  .col-lg-11 {
    width: 91.6666666667%;
  }

  .col-offset-lg-11 {
    margin-left: 91.6666666667%;
  }

  .col-lg-12 {
    width: 100%;
  }

  .col-offset-lg-12 {
    margin-left: 100%;
  }
}

form .form-group {
  position: relative;
}

form .form-group--error {
  padding-bottom: 25px;
}

form .form-group--error input[type=text] {
  border: 1px solid #D45050;
}

form input[type=text] {
  padding: 10px;
  background: #fff;
  margin-right: 10px;
  border: 1px solid #ddd;
  font-size: 1em;
}

form .invalid-feedback {
  color: #D45050;
  position: absolute;
  bottom: 0;
  left: 0;
}

.alert {
  width: 40%;
}

.alert-success {
  color: #00a400;
  border: 2px solid #00a400;
  background: #c0ffc0;
  padding: 10px 20px;
}

.alert-error {
  color: #D45050;
  border: 2px solid #D45050;
  background: #ffbfbf;
  padding: 10px 20px;
}

@font-face {
  font-family: "icomoon";
  src: url(/fonts/icomoon.eot?91b3a48a6ab6b833187cb072b49b8554);
  src: url(/fonts/icomoon.eot?91b3a48a6ab6b833187cb072b49b8554) format("embedded-opentype"), url(/fonts/icomoon.ttf?f855119524396e7cacf0f9e4eadfd66e) format("truetype"), url(/fonts/icomoon.woff?63b1e82fa9c1f347e7670047dcded1cf) format("woff"), url(/fonts/icomoon.svg?b7b28cfaa4acf15e4ef4114d72520161) format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
  content: "\E902";
}

.icon-left-arrow2:before {
  content: "\E90D";
}

.icon-right-arrow2:before {
  content: "\E903";
}

.icon-down-arrow2:before {
  content: "\E900";
}

.icon-up-arrow2:before {
  content: "\E901";
}

.icon-left-arrow:before {
  content: "\E905";
}

.icon-right-arrow:before {
  content: "\E907";
}

body {
  background: #fff;
  font-family: "Avenir", serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

#app {
  position: relative;
}

.btn {
  padding: 10px 20px;
  line-height: 1;
  border-radius: 3px;
  letter-spacing: 1px;
  display: inline-block;
  text-align: center;
  font-size: 0.875em;
  line-height: 1em;
  font-family: "Avenir", serif;
  border: 1px solid #535769;
  background: #fff;
  cursor: pointer;
  color: #000;
  transition: background 0.25s ease-in-out, color 0.25s ease-in-out, border 0.25s ease-in-out;
  text-decoration: none;
}

.btn:hover,
.btn:focus {
  background: #ddd;
}

.is-disabled.btn {
  background: #ddd;
  border-color: #ddd;
  color: #535769;
  cursor: auto;
}

.is-disabled.btn:hover,
.is-disabled.btn:focus {
  background: #ddd;
  border-color: #ddd;
  color: #535769;
}

@media (max-width: 767px) {
  .btn {
    padding: 12px 20px;
  }
}

.btn__blue {
  color: #fff;
  background: #18388A;
  border: none;
}

.btn__blue:hover,
.btn__blue:focus {
  color: #18388A;
  background: #fff;
  outline: none;
  border: 1px solid #18388A;
}

.btn__blue i {
  float: right;
}

.project-form {
  margin: 50px 0;
  padding: 20px;
}

.header {
  padding: 15px 0;
  height: 80px;
  position: relative;
}

.header .logo {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
}

.header .logo a:hover {
  text-decoration: none;
}

.header .logo img {
  position: absolute;
  top: 0;
  left: 20px;
  height: 100%;
}

.header .logo .title {
  display: inline-block;
  padding-left: 90px;
}

.header .logo .title h2 {
  font-size: 1.5em;
  color: #000;
  padding: 0;
  margin: 0;
}

.header .logo .title span {
  color: #000;
}

.header .menu-container {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.header .menu-container .menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-family: "Avenir", serif;
}

.header .menu-container .menu li {
  padding: 0 20px;
  display: inline-block;
}

.header .menu-container .menu li a {
  color: #000;
  font-size: 1em;
  position: relative;
}

.header .menu-container .menu li a:hover {
  text-decoration: none;
}

.header .menu-container .menu li a:hover:after {
  transform: scaleX(1);
}

.header .menu-container .menu li a:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #535769;
  bottom: -5px;
  left: 0;
  right: 0;
  transform: scaleX(0);
  transition: transform 0.25s ease-in;
}

.sidenav-container {
  width: 300px;
  min-height: 100%;
  border-right: 1px solid #ddd;
}

@media (min-width: 1024px) {
  .sidenav-container {
    position: fixed;
    left: 50%;
    bottom: 0;
    top: 110px;
    transform: translateX(-512px);
  }
}

@media (min-width: 1280px) {
  .sidenav-container {
    transform: translateX(-640px);
  }
}

.sidenav-container .sidenav {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.sidenav-container .sidenav li {
  margin: 20px 0;
}

.sidenav-container .sidenav li.active a:after {
  transform: scaleX(1);
}

.sidenav-container .sidenav li a {
  color: #000;
  font-size: 1em;
  position: relative;
}

.sidenav-container .sidenav li a:hover {
  text-decoration: none;
}

.sidenav-container .sidenav li a:hover:after {
  transform: scaleX(1);
}

.sidenav-container .sidenav li a:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #535769;
  bottom: -5px;
  left: 0;
  right: 0;
  transform: scaleX(0);
  transition: transform 0.25s ease-in;
}

.login-section .login-container {
  height: 80vh;
}

.login-section .login-box {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 1024px) {
  .login-section .login-box {
    width: 40%;
  }
}

.login-section .remember {
  margin: 0 5px 0 20px;
  cursor: pointer;
}

.title-list {
  width: calc(100% - 310px);
  margin-left: 300px;
  padding: 20px;
  display: inline-block;
  vertical-align: top;
  font-size: 1em;
}

.title-list .titles {
  padding: 0;
  margin: 0 0 10px 0;
  list-style-type: none;
}

.title-list .titles li {
  padding: 10px 0;
}

.title-list input[type=text] {
  width: 300px;
}

.title-list .form-container form {
  padding: 20px 0;
}

