@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);@charset "UTF-8";

@font-face {
  font-family: "Avenir";
  src: url("/fonts/Avenir-Roman.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* Breakpoints */

/* Font */

/* Border Radius */

/* =====================
Layout
===================== */

.vh,
.sr-only {
  border: 0;
  height: 0;
  width: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: absolute;
  background: none;
  text-indent: 999px;
}

.row,
.container,
.container-lg {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}

.row:before,
.container:before,
.container-lg:before,
.row:after,
.container:after,
.container-lg:after {
  content: "";
  display: table;
}

.row:after,
.container:after,
.container-lg:after {
  clear: both;
}

.container,
.container-lg {
  margin: auto;
  max-width: 1280px;
  position: relative;
  width: 100%;
  padding: 0 20px;
}

.container-lg {
  max-width: 1366px;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.inblock {
  display: inline-block;
  vertical-align: top;
  width: auto;
}

.img-responsive {
  display: block;
  height: auto;
  margin: auto;
  max-width: 100%;
  width: 100%;
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
}

.hide {
  display: none;
}

.row {
  margin: 0 -10px;
}

.reverse-col [class^=col-],
.reverse-col [class*=" col-"] {
  float: right;
}

[class^=col-],
[class*=" col-"] {
  float: left;
  width: 100%;
  padding: 0 10px;
}

[class^=col-offset-],
[class*=" col-offset-"] {
  margin: auto;
}

.desktop-only {
  display: none;
}

.col-xs-1 {
  width: 8.3333333333%;
}

.col-offset-xs-1 {
  margin-left: 8.3333333333%;
}

.col-xs-2 {
  width: 16.6666666667%;
}

.col-offset-xs-2 {
  margin-left: 16.6666666667%;
}

.col-xs-3 {
  width: 25%;
}

.col-offset-xs-3 {
  margin-left: 25%;
}

.col-xs-4 {
  width: 33.3333333333%;
}

.col-offset-xs-4 {
  margin-left: 33.3333333333%;
}

.col-xs-5 {
  width: 41.6666666667%;
}

.col-offset-xs-5 {
  margin-left: 41.6666666667%;
}

.col-xs-6 {
  width: 50%;
}

.col-offset-xs-6 {
  margin-left: 50%;
}

.col-xs-7 {
  width: 58.3333333333%;
}

.col-offset-xs-7 {
  margin-left: 58.3333333333%;
}

.col-xs-8 {
  width: 66.6666666667%;
}

.col-offset-xs-8 {
  margin-left: 66.6666666667%;
}

.col-xs-9 {
  width: 75%;
}

.col-offset-xs-9 {
  margin-left: 75%;
}

.col-xs-10 {
  width: 83.3333333333%;
}

.col-offset-xs-10 {
  margin-left: 83.3333333333%;
}

.col-xs-11 {
  width: 91.6666666667%;
}

.col-offset-xs-11 {
  margin-left: 91.6666666667%;
}

.col-xs-12 {
  width: 100%;
}

.col-offset-xs-12 {
  margin-left: 100%;
}

.mtop_0 {
  margin-top: 0px;
}

.mbot_0 {
  margin-bottom: 0px;
}

.mleft_0 {
  margin-left: 0px;
}

.mright_0 {
  margin-right: 0px;
}

.ptop_0 {
  padding-top: 0px;
}

.pbot_0 {
  padding-bottom: 0px;
}

.pleft_0 {
  padding-left: 0px;
}

.pright_0 {
  padding-right: 0px;
}

.mtop_5 {
  margin-top: 5px;
}

.mbot_5 {
  margin-bottom: 5px;
}

.mleft_5 {
  margin-left: 5px;
}

.mright_5 {
  margin-right: 5px;
}

.ptop_5 {
  padding-top: 5px;
}

.pbot_5 {
  padding-bottom: 5px;
}

.pleft_5 {
  padding-left: 5px;
}

.pright_5 {
  padding-right: 5px;
}

.mtop_10 {
  margin-top: 10px;
}

.mbot_10 {
  margin-bottom: 10px;
}

.mleft_10 {
  margin-left: 10px;
}

.mright_10 {
  margin-right: 10px;
}

.ptop_10 {
  padding-top: 10px;
}

.pbot_10 {
  padding-bottom: 10px;
}

.pleft_10 {
  padding-left: 10px;
}

.pright_10 {
  padding-right: 10px;
}

.mtop_15 {
  margin-top: 15px;
}

.mbot_15 {
  margin-bottom: 15px;
}

.mleft_15 {
  margin-left: 15px;
}

.mright_15 {
  margin-right: 15px;
}

.ptop_15 {
  padding-top: 15px;
}

.pbot_15 {
  padding-bottom: 15px;
}

.pleft_15 {
  padding-left: 15px;
}

.pright_15 {
  padding-right: 15px;
}

.mtop_20 {
  margin-top: 20px;
}

.mbot_20 {
  margin-bottom: 20px;
}

.mleft_20 {
  margin-left: 20px;
}

.mright_20 {
  margin-right: 20px;
}

.ptop_20 {
  padding-top: 20px;
}

.pbot_20 {
  padding-bottom: 20px;
}

.pleft_20 {
  padding-left: 20px;
}

.pright_20 {
  padding-right: 20px;
}

.mtop_25 {
  margin-top: 25px;
}

.mbot_25 {
  margin-bottom: 25px;
}

.mleft_25 {
  margin-left: 25px;
}

.mright_25 {
  margin-right: 25px;
}

.ptop_25 {
  padding-top: 25px;
}

.pbot_25 {
  padding-bottom: 25px;
}

.pleft_25 {
  padding-left: 25px;
}

.pright_25 {
  padding-right: 25px;
}

@media only screen and (max-width: 767px) {
  .no-mobile {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .col-sm-1 {
    width: 8.3333333333%;
  }

  .col-offset-sm-1 {
    margin-left: 8.3333333333%;
  }

  .col-sm-2 {
    width: 16.6666666667%;
  }

  .col-offset-sm-2 {
    margin-left: 16.6666666667%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-offset-sm-3 {
    margin-left: 25%;
  }

  .col-sm-4 {
    width: 33.3333333333%;
  }

  .col-offset-sm-4 {
    margin-left: 33.3333333333%;
  }

  .col-sm-5 {
    width: 41.6666666667%;
  }

  .col-offset-sm-5 {
    margin-left: 41.6666666667%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-offset-sm-6 {
    margin-left: 50%;
  }

  .col-sm-7 {
    width: 58.3333333333%;
  }

  .col-offset-sm-7 {
    margin-left: 58.3333333333%;
  }

  .col-sm-8 {
    width: 66.6666666667%;
  }

  .col-offset-sm-8 {
    margin-left: 66.6666666667%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-offset-sm-9 {
    margin-left: 75%;
  }

  .col-sm-10 {
    width: 83.3333333333%;
  }

  .col-offset-sm-10 {
    margin-left: 83.3333333333%;
  }

  .col-sm-11 {
    width: 91.6666666667%;
  }

  .col-offset-sm-11 {
    margin-left: 91.6666666667%;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-offset-sm-12 {
    margin-left: 100%;
  }

  .mobile-only {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .col-md-1 {
    width: 8.3333333333%;
  }

  .col-offset-md-1 {
    margin-left: 8.3333333333%;
  }

  .col-md-2 {
    width: 16.6666666667%;
  }

  .col-offset-md-2 {
    margin-left: 16.6666666667%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-offset-md-3 {
    margin-left: 25%;
  }

  .col-md-4 {
    width: 33.3333333333%;
  }

  .col-offset-md-4 {
    margin-left: 33.3333333333%;
  }

  .col-md-5 {
    width: 41.6666666667%;
  }

  .col-offset-md-5 {
    margin-left: 41.6666666667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-offset-md-6 {
    margin-left: 50%;
  }

  .col-md-7 {
    width: 58.3333333333%;
  }

  .col-offset-md-7 {
    margin-left: 58.3333333333%;
  }

  .col-md-8 {
    width: 66.6666666667%;
  }

  .col-offset-md-8 {
    margin-left: 66.6666666667%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-offset-md-9 {
    margin-left: 75%;
  }

  .col-md-10 {
    width: 83.3333333333%;
  }

  .col-offset-md-10 {
    margin-left: 83.3333333333%;
  }

  .col-md-11 {
    width: 91.6666666667%;
  }

  .col-offset-md-11 {
    margin-left: 91.6666666667%;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-offset-md-12 {
    margin-left: 100%;
  }

  .desktop-only {
    display: block;
  }

  .no-desktop {
    display: none;
  }
}

@media only screen and (min-width: 1280px) {
  .col-lg-1 {
    width: 8.3333333333%;
  }

  .col-offset-lg-1 {
    margin-left: 8.3333333333%;
  }

  .col-lg-2 {
    width: 16.6666666667%;
  }

  .col-offset-lg-2 {
    margin-left: 16.6666666667%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-offset-lg-3 {
    margin-left: 25%;
  }

  .col-lg-4 {
    width: 33.3333333333%;
  }

  .col-offset-lg-4 {
    margin-left: 33.3333333333%;
  }

  .col-lg-5 {
    width: 41.6666666667%;
  }

  .col-offset-lg-5 {
    margin-left: 41.6666666667%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-offset-lg-6 {
    margin-left: 50%;
  }

  .col-lg-7 {
    width: 58.3333333333%;
  }

  .col-offset-lg-7 {
    margin-left: 58.3333333333%;
  }

  .col-lg-8 {
    width: 66.6666666667%;
  }

  .col-offset-lg-8 {
    margin-left: 66.6666666667%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-offset-lg-9 {
    margin-left: 75%;
  }

  .col-lg-10 {
    width: 83.3333333333%;
  }

  .col-offset-lg-10 {
    margin-left: 83.3333333333%;
  }

  .col-lg-11 {
    width: 91.6666666667%;
  }

  .col-offset-lg-11 {
    margin-left: 91.6666666667%;
  }

  .col-lg-12 {
    width: 100%;
  }

  .col-offset-lg-12 {
    margin-left: 100%;
  }
}

form {
  width: 100%;
}

form .form-group {
  position: relative;
  padding: 10px 0;
  width: 100%;
}

form .form-group .form-error {
  padding-bottom: 25px;
}

form .form-group .form-error input[type=text],
form .form-group .form-error input[type=email],
form .form-group .form-error input[type=password],
form .form-group .form-error input[type=number],
form .form-group .form-error .vs__dropdown-toggle,
form .form-group .form-error textarea {
  border: 1px solid #D45050;
}

form .form-group label {
  display: inline-block;
}

form .form-submit label {
  display: inline-block;
}

form label {
  display: block;
  padding-bottom: 5px;
}

form input[type=text],
form input[type=email],
form input[type=password],
form input[type=number],
form textarea {
  padding: 10px;
  background: #fff;
  margin-right: 10px;
  border: 1px solid #ddd;
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
}

form textarea {
  resize: none;
}

form .vs__dropdown-toggle {
  padding: 5px 0;
}

form .vs__dropdown-toggle .vs__selected {
  margin: 2px;
}

form .invalid-feedback {
  color: #D45050;
  position: absolute;
  bottom: 0;
  left: 0;
}

.alert {
  width: 40%;
}

.alert-success {
  color: #008d00;
  border: 2px solid #008d00;
  background: #dfffdf;
  padding: 10px 20px;
}

.alert-error {
  color: #D45050;
  border: 2px solid #D45050;
  background: #fcd8d8;
  padding: 10px 20px;
}

@font-face {
  font-family: "icomoon";
  src: url(/fonts/icomoon.eot?91b3a48a6ab6b833187cb072b49b8554);
  src: url(/fonts/icomoon.eot?91b3a48a6ab6b833187cb072b49b8554) format("embedded-opentype"), url(/fonts/icomoon.ttf?f855119524396e7cacf0f9e4eadfd66e) format("truetype"), url(/fonts/icomoon.woff?63b1e82fa9c1f347e7670047dcded1cf) format("woff"), url(/fonts/icomoon.svg?b7b28cfaa4acf15e4ef4114d72520161) format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
  content: "\E902";
}

.icon-left-arrow2:before {
  content: "\E90D";
}

.icon-right-arrow2:before {
  content: "\E903";
}

.icon-down-arrow2:before {
  content: "\E900";
}

.icon-up-arrow2:before {
  content: "\E901";
}

.icon-left-arrow:before {
  content: "\E905";
}

.icon-right-arrow:before {
  content: "\E907";
}

body {
  background: #fff;
  font-family: "Avenir", serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

#app {
  position: relative;
}

.right-pane {
  width: calc(100% - 310px);
  margin-left: 300px;
  padding: 0 20px;
  display: inline-block;
  vertical-align: top;
}

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

.fadeTr-enter-active {
  transition: opacity 0.3s ease-in;
  transition-delay: 0.1s;
}

.fadeTr-leave-active {
  transition: opacity 0.1s ease-out;
}

.fadeTr-enter,
.fadeTr-leave-to {
  opacity: 0;
}

.slide-enter-active,
.slide-leave-active {
  transition: all 1s;
}

.slide-enter,
.slide-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.dg-backdrop-enter-active {
  -webkit-animation: dg-fadeIn 0.3s;
  animation: dg-fadeIn 0.3s;
}

.dg-backdrop-leave-active {
  -webkit-animation: dg-fadeOut 0.5s;
  animation: dg-fadeOut 0.5s;
}

.dg-fade-enter-active {
  -webkit-animation: dg-fadeIn 0.6s cubic-bezier(0, 0, 0.58, 1);
  animation: dg-fadeIn 0.6s cubic-bezier(0, 0, 0.58, 1);
}

.dg-fade-leave-active {
  -webkit-animation: dg-fadeOut 0.6s cubic-bezier(0, 0, 0.58, 1);
  animation: dg-fadeOut 0.6s cubic-bezier(0, 0, 0.58, 1);
}

@-webkit-keyframes dg-fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes dg-fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes dg-fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes dg-fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.dg-zoom-enter-active {
  -webkit-animation: dg-zoomIn 0.3s cubic-bezier(0, 0, 0.58, 1);
  animation: dg-zoomIn 0.3s cubic-bezier(0, 0, 0.58, 1);
}

.dg-zoom-leave-active {
  -webkit-animation: dg-zoomOut 0.4s cubic-bezier(0, 0, 0.58, 1);
  animation: dg-zoomOut 0.4s cubic-bezier(0, 0, 0.58, 1);
}

@-webkit-keyframes dg-zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes dg-zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@-webkit-keyframes dg-zoomOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  100% {
    opacity: 0;
  }
}

@keyframes dg-zoomOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  100% {
    opacity: 0;
  }
}

.dg-bounce-enter-active {
  -webkit-animation: dg-bounceIn 0.6s;
  animation: dg-bounceIn 0.6s;
}

.dg-bounce-leave-active {
  -webkit-animation: dg-zoomOut 0.6s;
  animation: dg-zoomOut 0.6s;
}

@-webkit-keyframes dg-bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }

  40% {
    opacity: 1;
    transform: scale(1.06);
  }

  60% {
    transform: scale(0.92);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes dg-bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }

  40% {
    opacity: 1;
    transform: scale(1.06);
  }

  60% {
    transform: scale(0.92);
  }

  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes dg-bounceOut {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(0.95);
  }

  50% {
    opacity: 1;
    transform: scale(1.1);
  }

  100% {
    opacity: 0;
    transform: scale(0.3);
  }
}

@keyframes dg-bounceOut {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(0.95);
  }

  50% {
    opacity: 1;
    transform: scale(1.1);
  }

  100% {
    opacity: 0;
    transform: scale(0.3);
  }
}

.dg-btn-loader {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
}

.dg-btn-loader .dg-circles {
  width: 100%;
  display: block;
  text-align: center;
}

.dg-btn-loader .dg-circle {
  width: 0.9em;
  height: 0.9em;
  opacity: 0;
  background-color: #09a2e3;
  display: inline-block;
  border-radius: 50%;
  -webkit-animation-name: dg-circle-oscillation;
  animation-name: dg-circle-oscillation;
  -webkit-animation-duration: 0.5875s;
  animation-duration: 0.5875s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  animation-direction: normal;
}

.dg-btn-loader .dg-circle:not(:last-child) {
  margin-right: 8px;
}

.dg-btn-loader .dg-circle:nth-child(1) {
  -webkit-animation-delay: 0.1195s;
  animation-delay: 0.1195s;
}

.dg-btn-loader .dg-circle:nth-child(2) {
  -webkit-animation-delay: 0.2755s;
  animation-delay: 0.2755s;
}

.dg-btn-loader .dg-circle:nth-child(3) {
  -webkit-animation-delay: 0.3485s;
  animation-delay: 0.3485s;
}

@-webkit-keyframes dg-circle-oscillation {
  50% {
    opacity: 1;
  }
}

@keyframes dg-circle-oscillation {
  50% {
    opacity: 1;
  }
}

body.dg-open {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.dg-container * {
  box-sizing: border-box;
}

.dg-container [disabled] {
  cursor: not-allowed;
  opacity: 0.3;
}

.dg-backdrop {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5000;
}

.dg-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
}

.dg-content-cont {
  width: 100%;
  font-family: inherit;
}

.dg-main-content {
  width: 98%;
  /*width: calc(98% - 30px);*/
  max-width: 400px;
  padding: 15px;
  border-radius: 5px;
  margin: 25px auto;
  background-color: #ffffff;
}

.dg-content {
  font-size: 16px;
  line-height: 1.3em;
}

.dg-title {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 18px;
}

.dg-content-body {
  border-bottom: 2px solid #E1E6EA;
  padding-bottom: 15px;
}

.dg-content-footer {
  position: relative;
  padding: 15px 0 0;
}

.dg-form {
  background-color: ghostwhite;
  padding: 10px;
  margin-bottom: -15px;
}

.dg-content-cont--floating {
  position: absolute;
  top: 35%;
  transform: translateY(-70%);
  margin-top: 0;
}

@media all and (max-height: 700px) {
  .dg-content-cont--floating {
    position: relative;
    top: 10%;
    transform: none;
    margin-top: 0;
  }
}

.dg-btn {
  display: inline-block;
  position: relative;
  min-width: 80px;
  padding: 6px 20px;
  border-radius: 4px;
  outline: 0;
  border: 2px solid transparent;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 16px;
  font-weight: 700;
}

.dg-btn:focus,
.dg-btn:active,
.dg-btn:link {
  outline: none;
}

.dg-btn::-moz-focus-inner {
  border: 0;
}

.dg-btn--cancel {
  color: #fefefe;
  background-color: #18388A;
}

.dg-btn--ok {
  color: #18388A;
  background-color: #fefefe;
  border-color: #18388A;
}

.dg-pull-right {
  float: right;
}

.dg-btn.dg-btn--loading .dg-btn-content {
  visibility: hidden;
}

.dg-clear:before {
  content: " ";
  display: block;
  clear: both;
}

.dg-content-body--has-title .dg-content {
  font-size: 14px;
}

.dg-container--has-input .dg-main-content {
  max-width: 450px;
}

.dg-container--has-input .dg-content {
  margin-bottom: 15px;
}

.dg-container--has-input .dg-content-body {
  border-bottom: none;
}

.dg-container--has-input .dg-form {
  border: 1px solid #E1E6EA;
  border-bottom: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.dg-container--has-input .dg-content-footer {
  background-color: ghostwhite;
  border: 1px solid #E1E6EA;
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 0 10px 10px;
}

.dg-container .dg-highlight-1 {
  color: #FF8C00;
  font-weight: bold;
  border-bottom: 1px solid #2ba5ff;
}

.dg-container .dg-highlight-2 {
  color: #2ba5ff;
  font-weight: bold;
  border-bottom: 1px solid #FF8C00;
}

.v-select {
  position: relative;
  font-family: inherit;
}

.v-select,
.v-select * {
  box-sizing: border-box;
}

/* KeyFrames */

@-webkit-keyframes vSelectSpinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes vSelectSpinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Dropdown Default Transition */

.vs__fade-enter-active,
.vs__fade-leave-active {
  transition: opacity 0.15s cubic-bezier(1, 0.5, 0.8, 1);
}

.vs__fade-enter,
.vs__fade-leave-to {
  opacity: 0;
}

/** Component States */

/*
 * Disabled
 *
 * When the component is disabled, all interaction
 * should be prevented. Here we modify the bg color,
 * and change the cursor displayed on the interactive
 * components.
 */

.vs--disabled .vs__dropdown-toggle,
.vs--disabled .vs__clear,
.vs--disabled .vs__search,
.vs--disabled .vs__selected,
.vs--disabled .vs__open-indicator {
  cursor: not-allowed;
  background-color: #f8f8f8;
}

/*
 *  RTL - Right to Left Support
 *
 *  Because we're using a flexbox layout, the `dir="rtl"`
 *  HTML attribute does most of the work for us by
 *  rearranging the child elements visually.
 */

.v-select[dir=rtl] .vs__actions {
  padding: 0 3px 0 6px;
}

.v-select[dir=rtl] .vs__clear {
  margin-left: 6px;
  margin-right: 0;
}

.v-select[dir=rtl] .vs__deselect {
  margin-left: 0;
  margin-right: 2px;
}

.v-select[dir=rtl] .vs__dropdown-menu {
  text-align: right;
}

/**
    Dropdown Toggle

    The dropdown toggle is the primary wrapper of the component. It
    has two direct descendants: .vs__selected-options, and .vs__actions.

    .vs__selected-options holds the .vs__selected's as well as the
    main search input.

    .vs__actions holds the clear button and dropdown toggle.
 */

.vs__dropdown-toggle {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: flex;
  padding: 0 0 4px 0;
  background: none;
  border: 1px solid rgba(60, 60, 60, 0.26);
  border-radius: 4px;
  white-space: normal;
}

.vs__selected-options {
  display: flex;
  flex-basis: 100%;
  flex-grow: 1;
  flex-wrap: wrap;
  padding: 0 2px;
  position: relative;
}

.vs__actions {
  display: flex;
  align-items: center;
  padding: 4px 6px 0 3px;
}

/* Dropdown Toggle States */

.vs--searchable .vs__dropdown-toggle {
  cursor: text;
}

.vs--unsearchable .vs__dropdown-toggle {
  cursor: pointer;
}

.vs--open .vs__dropdown-toggle {
  border-bottom-color: transparent;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.vs__open-indicator {
  fill: rgba(60, 60, 60, 0.5);
  transform: scale(1);
  transition: transform 150ms cubic-bezier(1, -0.115, 0.975, 0.855);
  transition-timing-function: cubic-bezier(1, -0.115, 0.975, 0.855);
}

.vs--open .vs__open-indicator {
  transform: rotate(180deg) scale(1);
}

.vs--loading .vs__open-indicator {
  opacity: 0;
}

/* Clear Button */

.vs__clear {
  fill: rgba(60, 60, 60, 0.5);
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  margin-right: 8px;
}

/* Dropdown Menu */

.vs__dropdown-menu {
  display: block;
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  z-index: 1000;
  padding: 5px 0;
  margin: 0;
  width: 100%;
  max-height: 350px;
  min-width: 160px;
  overflow-y: auto;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(60, 60, 60, 0.26);
  border-top-style: none;
  border-radius: 0 0 4px 4px;
  text-align: left;
  list-style: none;
  background: #fff;
}

.vs__no-options {
  text-align: center;
}

/* List Items */

.vs__dropdown-option {
  line-height: 1.42857143;
  /* Normalize line height */
  display: block;
  padding: 3px 20px;
  clear: both;
  color: #333;
  /* Overrides most CSS frameworks */
  white-space: nowrap;
}

.vs__dropdown-option:hover {
  cursor: pointer;
}

.vs__dropdown-option--highlight {
  background: #5897fb;
  color: #fff;
}

/* Selected Tags */

.vs__selected {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  border: 1px solid rgba(60, 60, 60, 0.26);
  border-radius: 4px;
  color: #333;
  line-height: 1.4;
  margin: 4px 2px 0px 2px;
  padding: 0 0.25em;
}

.vs__deselect {
  display: inline-flex;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin-left: 4px;
  padding: 0;
  border: 0;
  cursor: pointer;
  background: none;
  fill: rgba(60, 60, 60, 0.5);
  text-shadow: 0 1px 0 #fff;
}

/* States */

.vs--single .vs__selected {
  background-color: transparent;
  border-color: transparent;
}

.vs--single.vs--open .vs__selected {
  position: absolute;
  opacity: 0.4;
}

.vs--single.vs--searching .vs__selected {
  display: none;
}

/* Search Input */

.vs__search::-webkit-search-decoration,
.vs__search::-webkit-search-cancel-button,
.vs__search::-webkit-search-results-button,
.vs__search::-webkit-search-results-decoration,
.vs__search::-ms-clear {
  display: none;
}

.vs__search,
.vs__search:focus {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  line-height: 1.4;
  font-size: 1em;
  border: 1px solid transparent;
  border-left: none;
  outline: none;
  margin: 4px 0 0 0;
  padding: 0 7px;
  background: none;
  box-shadow: none;
  width: 0;
  max-width: 100%;
  flex-grow: 1;
}

.vs__search::-webkit-input-placeholder {
  color: inherit;
}

.vs__search::-moz-placeholder {
  color: inherit;
}

.vs__search:-ms-input-placeholder {
  color: inherit;
}

.vs__search::-ms-input-placeholder {
  color: inherit;
}

.vs__search::placeholder {
  color: inherit;
}

/**
    States
 */

.vs--unsearchable .vs__search {
  opacity: 1;
}

.vs--unsearchable .vs__search:hover {
  cursor: pointer;
}

.vs--single.vs--searching:not(.vs--open):not(.vs--loading) .vs__search {
  opacity: 0.2;
}

/* Loading Spinner */

.vs__spinner {
  align-self: center;
  opacity: 0;
  font-size: 5px;
  text-indent: -9999em;
  overflow: hidden;
  border-top: 0.9em solid rgba(100, 100, 100, 0.1);
  border-right: 0.9em solid rgba(100, 100, 100, 0.1);
  border-bottom: 0.9em solid rgba(100, 100, 100, 0.1);
  border-left: 0.9em solid rgba(60, 60, 60, 0.45);
  transform: translateZ(0);
  -webkit-animation: vSelectSpinner 1.1s infinite linear;
          animation: vSelectSpinner 1.1s infinite linear;
  transition: opacity 0.1s;
}

.vs__spinner,
.vs__spinner:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}

/* Loading Spinner States */

.vs--loading .vs__spinner {
  opacity: 1;
}

.btn {
  padding: 10px 20px;
  line-height: 1;
  border-radius: 3px;
  letter-spacing: 1px;
  display: inline-block;
  text-align: center;
  font-size: 0.875em;
  line-height: 1em;
  font-family: "Avenir", serif;
  border: 1px solid #535769;
  background: #fff;
  cursor: pointer;
  color: #000;
  transition: background 0.25s ease-in-out, color 0.25s ease-in-out, border 0.25s ease-in-out;
  text-decoration: none;
}

.btn:hover,
.btn:focus {
  background: #ddd;
}

.is-disabled.btn {
  background: #ddd;
  border-color: #ddd;
  color: #535769;
  cursor: auto;
}

.is-disabled.btn:hover,
.is-disabled.btn:focus {
  background: #ddd;
  border-color: #ddd;
  color: #535769;
}

@media (max-width: 767px) {
  .btn {
    padding: 12px 20px;
  }
}

.btn__blue {
  color: #fff;
  background: #18388A;
  border: 1px solid transparent;
}

.btn__blue:hover,
.btn__blue:focus {
  color: #18388A;
  background: #fff;
  outline: none;
  border: 1px solid #18388A;
}

.btn__blue i {
  float: right;
}

.auth-project-list ul.project-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.auth-project-list ul.project-list li {
  border-bottom: 1px solid #eee;
  padding: 5px 0;
}

.auth-project-list ul.project-list li .button-group {
  float: right;
  padding: 8px 0;
}

.auth-project-list ul.project-list li form {
  margin-left: 5px;
}

.project-form .form-group [class^=col-] {
  position: relative;
}

.project-form .form-group [class^=col-] label {
  padding: 11px 0;
}

.project-form .invalid-feedback {
  left: 10px;
}

.header {
  padding: 15px 0;
  height: 80px;
  position: relative;
}

.header .logo {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
}

.header .logo a:hover {
  text-decoration: none;
}

.header .logo img {
  position: absolute;
  top: 0;
  left: 20px;
  height: 100%;
}

.header .logo .title {
  display: inline-block;
  padding-left: 90px;
}

.header .logo .title h2 {
  font-size: 1.5em;
  color: #000;
  padding: 0;
  margin: 0;
}

.header .logo .title span {
  color: #000;
}

.header .menu-container {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.header .menu-container .menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-family: "Avenir", serif;
}

.header .menu-container .menu li {
  padding: 0 20px;
  display: inline-block;
}

.header .menu-container .menu li a {
  color: #000;
  font-size: 1em;
  position: relative;
}

.header .menu-container .menu li a:hover {
  text-decoration: none;
}

.header .menu-container .menu li a:hover:after {
  transform: scaleX(1);
}

.header .menu-container .menu li a:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #535769;
  bottom: -5px;
  left: 0;
  right: 0;
  transform: scaleX(0);
  transition: transform 0.25s ease-in;
}

.sidenav-container {
  width: 300px;
  min-height: 100%;
  border-right: 1px solid #ddd;
}

@media (min-width: 1024px) {
  .sidenav-container {
    position: fixed;
    left: 50%;
    bottom: 0;
    top: 110px;
    transform: translateX(-512px);
  }
}

@media (min-width: 1280px) {
  .sidenav-container {
    transform: translateX(-640px);
  }
}

.sidenav-container .sidenav {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.sidenav-container .sidenav li {
  margin: 20px 0;
}

.sidenav-container .sidenav li.active a:after {
  transform: scaleX(1);
}

.sidenav-container .sidenav li a {
  color: #000;
  font-size: 1em;
  position: relative;
}

.sidenav-container .sidenav li a:hover {
  text-decoration: none;
}

.sidenav-container .sidenav li a:hover:after {
  transform: scaleX(1);
}

.sidenav-container .sidenav li a:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #535769;
  bottom: -5px;
  left: 0;
  right: 0;
  transform: scaleX(0);
  transition: transform 0.25s ease-in;
}

.login-section .login-container {
  height: 80vh;
  width: 100%;
  position: relative;
}

.login-section .login-container .image-container {
  width: 100px;
  margin: 0 auto;
}

.login-section .login-container .image-container img {
  width: 100%;
}

.login-section .login-box {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 1024px) {
  .login-section .login-box {
    width: 30%;
  }
}

.login-section .remember {
  margin: 0 5px 0 20px;
  cursor: pointer;
}

.title-list {
  font-size: 1em;
}

.title-list .titles {
  padding: 0;
  margin: 0 0 10px 0;
  list-style-type: none;
}

.title-list .titles li {
  padding: 10px 0;
}

.title-list .titles li:first-child {
  padding: 0 0 10px;
}

.title-list input[type=text] {
  width: 300px;
}

.title-list .form-container form {
  padding: 20px 0;
}

