$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-calendar: "\e902";
$icon-left-arrow2: "\e90d";
$icon-right-arrow2: "\e903";
$icon-down-arrow2: "\e900";
$icon-up-arrow2: "\e901";
$icon-left-arrow: "\e905";
$icon-right-arrow: "\e907";

