.login-section {

	.login-container {
		height: 80vh;
		width: 100%;
		position: relative;

		.image-container {
			width: 100px;
			margin: 0 auto;

			img {
				width: 100%;
			}
		}
	}

	.login-box {
		width: 100%;
		margin: 0 auto;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		@include desktop {
			width: 30%;
		}
	}

	.remember {
		margin: 0 5px 0 20px;
		cursor: pointer;
	}
}