.title-list {
	font-size: calc-em(16px);

	.titles {
		padding: 0;
		margin: 0 0 10px 0;
		list-style-type: none;

		li {
			padding: 10px 0;

			&:first-child {
				padding: 0 0 10px;
			}
		}
	}

	input[type=text] {
		width: 300px;
	}

	.form-container form {
		padding: 20px 0;
	}
}