.title-list {
	width: calc(100% - 310px);
	margin-left: 300px;
	padding: 20px;
	display: inline-block;
	vertical-align: top;
	font-size: calc-em(16px);

	.titles {
		padding: 0;
		margin: 0 0 10px 0;
		list-style-type: none;

		li {
			padding: 10px 0;
		}
	}

	input[type=text] {
		
		width: 300px;
	}

	.form-container form {
		padding: 20px 0;
	}
}